@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box ;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0 ;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;   /* 각각의 너비를 똑같게 만듦 */
  margin: 10px;
  position: relative;  /* h3의 위치를 앱솔루트로 고정하기 위해 */
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;   /* 0.4s는 딜레이 주는 거*/
}

@media(max-width: 480px) {
  .container {
    width: 100vw;
  }

  /* 작은 화면에선 4, 5번째 아이템을 화면에서 빼버림 */
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
