@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  color: #ef5454;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px; /* transition, animation 으로 크기 바꿀거얌  */
  caret-color: #65c29f;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.input:focus,
.btn:focus {
  outline: none;
}
.input::placeholder {
  color: #65c29f;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.search.active .input {
  width: 200px;
  border-radius: 4px 0 0 4px;
}

.search.active .btn {
  transform: translateX(198px);
  border-radius: 0 4px 4px 0;
}
